mixin navbar()
	nav.navbar.navbar-expand.navbar-light.pg-light
		a(href="/", aria-label="Golgen Goose").navbar-brand.mr-0.mr-md-2
			img(src="/images/gold_token_icon.png", width="36", height="36")
		.collapse.navbar-collapse
			ul.navbar-nav.mr-auto 
				li.nav-item
					a.nav-link(href="/") Home
				li.nav-item
					a.nav-link(href="/leads") Leads